body {
  background: var(--sec-bg);
}

img {
  display: flex;
  width: 97%;
  margin: 0.3 rem;
  border-radius: 8px
}

.primary-box {
  margin: 0.5rem;
  padding: 0.2rem;
}

.primary-box .title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0.2rem;
}

.subbar {
  display: flex;
  flex-direction: row
}

.subtext {
  color: #666;
  font-style: 12px;
  margin: 0.3rem;
  margin-top: 0.6rem;
  margin-left: 3rem;
}

.subtext:nth-child(1) {
  margin-left: 0.3rem;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.des {
  margin: 0.5rem;
}

.tag {
  padding: 0.4rem 1rem;
  background: #66666610;
  border: 2px solid var(--blue);
  border-radius: 20px;
  color: var(--color);
  margin: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 12px
}

.para {
  margin: 0.4rem;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

.btn {
  background: var(--blue);
  color: #fff;
  width: 98%;
  height: 40px;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
  position: relative;
}

.btn ion-icon {
  color: #fff;
  top: 50%;
  transform: translate(0,-50%);
  right: 20px;
  position: absolute;
}

.btn:nth-child(1){
  margin-bottom: 0;
}

.grn {
  margin-top: 0.3rem;
  background: #35A953;
}


@media screen and (min-width: 500px) {
  .primary-box {
    display: flex;
    flex-direction: row;
  }
  
  .lq-box {
    padding: 0.4rem;margin: 0.2rem;
  }
}