body {
  background: var(--sec-bg);
}

.card {
  background: var(--bg);
  border-radius: 8px;
  margin: 0.5rem;
  padding: 1rem 0.6rem;
  padding-bottom: 1.2rem !important;
  position: relative;
}

.card-date {
  color: #666;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}

.card-opt-icon {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 20px;
  color: var(--color)
}

.card-img,
.card-img img {
  width: 99%;
  margin: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}

.active {
  color: var(--blue);
}

@media screen and (min-width: 600px) {
  .card {
    width: 280px;
    height: max-content;
    }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
