@import url("color.css");
@import url("alert.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-size: 13px
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Open Sans", sans-serif;
}

ion-icon {
  font-size: 23px
}

.block-div {
  width: 1000%;
  height: 1000vh;
  position: fixed;
  z-index: 999999999;
  background: #fff;
  top: 0;
  left: 0;
  display: none;
}


.bg-ogrey {
  background: #33333350;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-preload {
  width: 75px;
  height: 75px;
  border: 3px solid var(--blue);
  border-radius: 50%;
  border-top: 3px solid var(--bg);
  animation: spin 2s infinite;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.2rem;
}

.subtitle {
  font-size: 12px;
  margin: 0.2rem;
}

a {
  text-decoration: none;
  color: var(--blue)
}

.loadtitle {
  margin: 1rem 0.7rem;
  font-size: 13px
}

.active {
  color: var(--blue);
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  border-radius: 14px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: sticky;
  position: -webkit-sticky;
  bottom: 10px;
  left: 50%;
  transform: translate(-10%);
  box-shadow: 0 0 10px #cccccc90;
  width: max-content;
  background: var(--bg);
  z-index: 99;
}

.menu-icon {
  color: var(--color);
  margin: 0.5rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

nav {
  color: var(--black);
  padding: 0.5rem;
  font-size: 16px;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 99;
  flex-direction: row;
  background: #ffffff80;
  backdrop-filter: blur(1px)
}

.left-bar {
  background: #fff;
  padding: 0.1rem;
  font-size: 16px;
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  z-index: 999;
  box-shadow: 0 0 10px #33333390;
  animation: showInLeft 0.5s 1;
  display: none;
}


.link {
  padding: 1rem;
}

.left-box {
  margin-top: 1.5rem;
}

.left-bar-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.left-bar-close ion-icon {
  font-size: 30px
}

.right-icons {
  position: absolute;
  right: 10px;
}

.right-icons * {
  margin: 0.3rem;
  margin-top: 0;margin-bottom: 0;
}

@keyframes showInLeft {
  0% {
    transform: translate(-120%)
  }

  100% {
    transform: translate(0%)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(1200deg);
  }
}

@media screen and (min-width: 600px){
  .left-bar {
    width: 400px
  }
}